.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4rem;
}

h2 {
    padding-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}