.headerContainer {
    background: var(--white);
    height: 4.5rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 2rem 2rem;
  
    border-bottom: 2px solid var(--gray-100);
  
    img {
      width: 83px;
      height: 34px;
    }

    ul {
      list-style-type: none;

      li {
        float: left;
        text-transform: capitalize;
        margin-left: 1rem;

        &.leftBorder {
          padding-left: 1rem;
          border-left: 1px solid var(--blue-main);
        }
      
        a {
          text-decoration: none;
          font: 400 1.2rem Archivo;
          cursor: pointer;
          color: var(--orange-main);
          transition: color 0.3s;

          &:hover {
            color: var(--blue-main);
          }
        }

        .notification {

          transition: opacity 0.2s;

          img {
            width: 20px;
            height: 22px;
            cursor: pointer;
          }
  
          span {
            background: var(--blue-main);
  
            padding: 1px 5px;
            border-radius: 50%;
            
            position: relative;
            top: -0.7rem;
            right: 0.6rem;
  
            
            font-size: 1rem; 
            font-family: Archivo;
            cursor: pointer;
            color: var(--white);
          }
          
          &:hover{
            opacity: 0.2;
          }
        }
      }
    }
  }